.meni{
    background-color: grey;
    margin-top: 50px;
}
.logo{     
    transform: translate(-50%,-50%);
    margin-left: 50%;    
}
ul{
    list-style-type: none;
    
}
li{
    display: inline;
    color:black;
}
.sadrzaj{
    background-color: grey;
    padding: 5px;
    box-sizing: border-box;
}
img{
    height: 200px;
    width: 200px;
    padding: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column{
    padding: 0 4px;
    width: 700px;
    margin: 0 auto;
    padding: 0 4px;      
}
#trenutni { 
    text-decoration: none;

}
@media (max-width: 800px) {
    .column {
      flex: 75%;
      max-width: 75%;
    }
  }

@media screen and (max-width: 600px) {
    .column {
        flex: 50%;
        max-width: 50%;
      }
    li{
        display: block;
        color: black;
    }
    img{
        max-width: 80%;
        max-height: 80%;        
    }
  }
