.meni{
    background-color: grey;
    margin-top: 50px;
}
.logo{     
    transform: translate(-50%,-50%);
    margin-left: 50%;    
}
ul{
    list-style-type: none;
    
}
li{
    display: inline;
    color:black;
}
.sadrzaj{
    background-color: grey;
    padding: 5px;
    box-sizing: border-box;
}
div:empty {
    visibility: hidden;
 }
.calendar {
    position: relative;
    width: 340px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    overflow: hidden;
    
}
.imeMjeseca{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}  
.calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;        
}  
.calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;    
    color: #262626;    
    border: 1px solid black;       
}
.ispod{
    position: absolute;
    display: flex;    
    justify-content: center;
    width: 30px; 
    height: 10px;
    bottom: 0px;   
    color: #262626;
    float: left;
    clear: left;
    border: 1px solid black; 
}
.zauzeti{
   background-color: red;
}
.slobodni{
    background-color: green;
}  
.calendar__number {
    padding-bottom: 5px;
    position: relative;    
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: #262626;
    border: 1px solid black;   
}
button{
    background-color: gray;
}
#buttons{
    width: 340px;
}
#sljedeci{
    float: right;
}
#trenutni { 
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    li{
        display: block;
        color: black;
    }
    .hidden{
        display: none;
    }
    .calendar__date {
        display: grid;
        grid-template-rows: repeat(7, 30px);
        grid-gap: 10px;
        grid-auto-flow: column;
        grid-auto-columns: 30px 30px;
        
    }
    .calendar {
        position: relative;
        width: 120px;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0 5px 50px rgba(#000, 0.5);
        overflow: hidden;        
    }
    .calendar__date {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
        grid-gap: 10px;
        box-sizing: border-box;        
    }
    #buttons{
        width: 120px;
    }
    button{
        font-size:10px;
    }
    #prethodni{        
        float: left;
    }
    #sljedeci{
        float: right;
    }
    
}