.meni{
    background-color: grey;
    margin-top: 50px;
}
.logo{ 
    
    transform: translate(-50%,-50%);
    margin-left: 50%;
    
}
.sadrzaj{
    background-color: grey;
    padding: 5px;
}
.tabelaSala{
    align-self: center;
    margin: 0 auto;
    border-collapse: collapse;
}
.headerSprat{
    background-color: gray; 
    border: 1px solid white;   
}
.headerRedni{
    background-color: gray;
    border: 1px solid white; 
}
.sala.slobodnaSala{
    background-color: green;
}
.sala.zauzetaSala{
    background-color: orange;
}
.sala.kancelarija{
    background-color: gray;
}
.sala{
    background-color: white;
    border: 1px solid gray;
}
ul{
    list-style-type: none;
    
}
li{
    display: inline;
    color:black;
}
#trenutni { 
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    li{
        display: block;
        color: black;
    }
    .headerRedni{
        display: none;
    }
    .hidden{
        display: none;
    }
    
}
