.meni{
    background-color: grey;
    margin-top: 50px;
}
.logo{     
    transform: translate(-50%,-50%);
    margin-left: 50%;    
}
ul{
    list-style-type: none;
    
}
li{
    display: inline;
    color:black;
}
.sadrzaj{
    background-color: grey;
    padding: 5px;
}

.forma label{
    display: inline-block;
    width: 120px;
}
#trenutni { 
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    li{
        display: block;
        color: black;
    }
    .forma label{
      width: 100%;      
    }
  }